{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="text-center text-uppercase">our service</h1>
        <hr class="hr border-2 m-auto" style="width: 6%">
        <p class="text-secondary text-center">Lorem kursem mametoo</p>
    </div>

    <div>
        <h1></h1>
        <p></p>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
            </div>
        </div>
    </div>
{% endblock %}
